<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MHN NOW 跨時區表@空軍基地</title>

    <link rel="stylesheet" href="style.css">

</head>
<body>
    
    <!-- pc -->
    <table class="rwd-pc" id="rwd-pc" v-if="pcitems.length > 0">
        <tr class="tr" v-for="(item, key) in pcitems" v-if="key > 0 && key = 1">
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <td colspan="2">{{item[8]}}</td>
            <td colspan="2">{{item[9]}}</td>
            <td>{{item[10]}}</td>
            <td>{{item[11]}}</td>
        </tr>
        <tr class="tr" v-elseif="key > 1"> 
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td class="location">{{item[2]}}</td>
            <td>{{item[8]}}</td>
            <td>{{item[9]}}</td>
            <td>{{item[10]}}</td>
            <td>{{item[11]}}</td>
            <td><i class="fa-regular fa-copy"></i></td>
            <td class="checked"><i class="fa-solid fa-check"></i> 已複製</td>
        </tr>
    </table>

    <!-- mobile -->
    <div class="rwd-mb" id="rwd-mb" v-if="mobileitems.length > 0">
        <div class="row tr" v-for="(item, key) in mobileitems">
            <div class="col">
                <div>{{item[0]}} {{item[1]}}</div>
                <div class="location">{{item[2]}}</div>
            </div>
            <div class="col">
                <div>{{item[3]}} {{item[4]}}  開始</div> ~ 
                <div>{{item[5]}} {{item[6]}}  結束</div>
            </div>
            <i class="fa-regular fa-copy"></i>
            <div class="checked"><i class="fa-solid fa-check"></i> 已複製</div>
        </div>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/> 
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>

    <script>
        let pc_url = "https://sheets.googleapis.com/v4/spreadsheets/1-ajG5it_r4panQE7J9Sv6JSIA-gq-xG-FJJPSpcb74Y/values/%E9%9B%BB%E8%85%A6%E7%89%88?alt=json&key=AIzaSyA_hIi-8mQ2uZb7W_0Q_FY4hD2qk9gKUgA"
        let mobile_url = "https://sheets.googleapis.com/v4/spreadsheets/1-ajG5it_r4panQE7J9Sv6JSIA-gq-xG-FJJPSpcb74Y/values/%E6%89%8B%E6%A9%9F%E6%9D%BF?alt=json&key=AIzaSyA_hIi-8mQ2uZb7W_0Q_FY4hD2qk9gKUgA"
        let view = new Vue({
            el: '#rwd-pc',
            data: {
                pcitems: {}
            },
            mounted(){
                $.ajax({
                    url: pc_url,
                    dataType: 'json',
                    success: function (res) {
                        view.pcitems = (res.values)
                    },
                    error: function (res){
                        console.info("無資料", res)
                    }
                })
               
            }
        })
        let mobile_view = new Vue({
            el: '#rwd-mb',
            data: {
                mobileitems: {}
            },
            mounted(){
                $.ajax({
                    url: mobile_url,
                    dataType: 'json',
                    success: function (res) {
                        mobile_view.mobileitems = (res.values)
                    },
                    error: function (res){
                        console.info("無資料", res)
                    }
                })
            }
        })
    </script>

    <!-- <script>
       $(document).ready(function () {
            $(".fa-copy").click(function () {
                let location = $(this).parents('.tr').find('.location').text()
                console.info('info', location)
                copyToClipboard(location)
                $(this).parents('.tr').find('.checked').show().addClass('on')
                setTimeout(function(){
                    $(".checked.on").hide().removeClass('on')
                },3000)
            })
        })
        $(document).keydown(function (e) {
            let keyevent = event.which == 44 || event.key == 'PrintScreen'
            if(!!keyevent) {
                event.preventDefault()
            }
        })
        function copyToClipboard(item) {
            const clip = document.createElement('TEXTAREA')
            clip.value = item
            document.body.appendChild(clip)
            clip.select()
            document.execCommand('copy')
            document.body.removeChild(clip)
        }
    </script> -->
</body>
</html>
